In [78]:
#Remove NA
import pandas as pd
df=pd.read_csv("Real_Combine.csv")
df

         T    TM    Tm     SLP     H   VV     V    VM      PM 2.5
0      7.4   9.8   4.8  1017.6  93.0  0.5   4.3   9.4  219.720833
1      7.8  12.7   4.4  1018.5  87.0  0.6   4.4  11.1  182.187500
2      6.7  13.4   2.4  1019.4  82.0  0.6   4.8  11.1  154.037500
3      8.6  15.5   3.3  1018.7  72.0  0.8   8.1  20.6  223.208333
4     12.4  20.9   4.4  1017.3  61.0  1.3   8.7  22.2  200.645833
...    ...   ...   ...     ...   ...  ...   ...   ...         ...
1088  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9  288.416667
1089  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2  256.833333
1090  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8  169.000000
1091  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5  186.041667
1092  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3  185.583333

[1093 rows x 9 columns]

In [79]:
df.fillna(df['PM 2.5'].mean(),inplace=True)

In [80]:
df.isnull().sum()

T         0
TM        0
Tm        0
SLP       0
H         0
VV        0
V         0
VM        0
PM 2.5    0
dtype: int64

In [81]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (1.0.2)
Requirement already satisfied: tqdm in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (4.59.0)
Requirement already satisfied: terminaltables in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (3.1.0)
Requirement already satisfied: scipy in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: future in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (0.18.2)
Requirement already satisfied: tabulate in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (0.8.9)
Requirement already satisfied: requests in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: scikit-learn in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (0.22.1)
Requirement already satisfied: packaging in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (20.9)
Requirement already satisfied: numpy in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: colorama in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from keras-tuner) (0.4.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from requests->keras-tuner) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from requests->keras-tuner) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from requests->keras-tuner) (2.9)
Requirement already satisfied: joblib>=0.11 in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from scikit-learn->keras-tuner) (0.15.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\snaraha1\appdata\local\continuum\anaconda3\envs\imageenv3.6\lib\site-packages (from packaging->keras-tuner) (2.4.7)

In [82]:
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

In [83]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1:]

In [84]:
X

         T    TM    Tm     SLP     H   VV     V    VM
0      7.4   9.8   4.8  1017.6  93.0  0.5   4.3   9.4
1      7.8  12.7   4.4  1018.5  87.0  0.6   4.4  11.1
2      6.7  13.4   2.4  1019.4  82.0  0.6   4.8  11.1
3      8.6  15.5   3.3  1018.7  72.0  0.8   8.1  20.6
4     12.4  20.9   4.4  1017.3  61.0  1.3   8.7  22.2
...    ...   ...   ...     ...   ...  ...   ...   ...
1088  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9
1089  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2
1090  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8
1091  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5
1092  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3

[1093 rows x 8 columns]

In [85]:
y

          PM 2.5
0     219.720833
1     182.187500
2     154.037500
3     223.208333
4     200.645833
...          ...
1088  288.416667
1089  256.833333
1090  169.000000
1091  186.041667
1092  185.583333

[1093 rows x 1 columns]

In [86]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(1, activation='linear'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='mean_absolute_error',
        metrics=['mean_absolute_error'])
    return model

In [87]:
tuner = RandomSearch(
    build_model,
    objective='val_mean_absolute_error',
    max_trials=5,
    executions_per_trial=3,
    directory='abc',
    project_name='Air Quality Index')

In [88]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [90]:
tuner.search(X_train, y_train,
             epochs=5,
             validation_data=(X_test, y_test))

Trial 5 Complete [00h 00m 06s]
val_mean_absolute_error: 63.4583994547526

Best val_mean_absolute_error So Far: 47.8683713277181
Total elapsed time: 00h 00m 30s
INFO:tensorflow:Oracle triggered exit

In [91]:
tuner.results_summary()

Results summary
Results in abc\Air Quality Index
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 2
units_0: 320
units_1: 288
learning_rate: 0.01
units_2: 96
units_3: 224
units_4: 288
units_5: 480
units_6: 320
units_7: 288
units_8: 256
units_9: 352
units_10: 192
units_11: 416
Score: 47.8683713277181
Trial summary
Hyperparameters:
num_layers: 10
units_0: 192
units_1: 352
learning_rate: 0.0001
units_2: 256
units_3: 320
units_4: 64
units_5: 352
units_6: 160
units_7: 128
units_8: 352
units_9: 416
units_10: 160
units_11: 160
units_12: 448
units_13: 384
units_14: 64
units_15: 64
units_16: 352
units_17: 480
units_18: 384
Score: 63.4583994547526
Trial summary
Hyperparameters:
num_layers: 14
units_0: 448
units_1: 352
learning_rate: 0.0001
units_2: 192
units_3: 96
units_4: 192
units_5: 288
units_6: 160
units_7: 64
units_8: 384
units_9: 320
units_10: 256
units_11: 416
units_12: 32
units_13: 32
Score: 63.490736643473305
Trial summary
Hyperparameters:
num_layers: 19
units_0: 480
units_1: 224
learning_rate: 0.0001
units_2: 128
units_3: 128
units_4: 128
units_5: 480
units_6: 64
units_7: 64
units_8: 448
units_9: 256
units_10: 416
units_11: 224
units_12: 352
units_13: 64
units_14: 32
units_15: 32
units_16: 32
units_17: 32
units_18: 32
Score: 63.80030949910482
Trial summary
Hyperparameters:
num_layers: 12
units_0: 448
units_1: 448
learning_rate: 0.0001
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
units_9: 32
units_10: 32
units_11: 32
Score: 64.28501001993816

In [92]:
tuner.get_best_models(num_models=2)

[<tensorflow.python.keras.engine.sequential.Sequential at 0x2648f5da320>,
 <tensorflow.python.keras.engine.sequential.Sequential at 0x2648f010748>]